body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

.modal-content {
  background: #f4f4f4;
  margin: 20% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  padding: 10px 20px;
}

.main-container {
  display: flex;
  flex-direction: row;
}

#planner {
  width: 25vw;
  height: 100vh;
  background-color: #0336ff;
}

#place-list {
  width: 25vw;
  height: 100vh;
  background-color:#ffde03;
}

#map {
  width: 50vw;
  height: 100vh;
  background-color: #00BFA5;
}

.place-filter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
}